<!-- ---------------------------------------------------- -->
  <div class="col-sm-3 col-md-3 col-lg-3">
	<!-- logo -->  
    <div class="img-responsive">
      <img src="https://www.dropbox.com/s/dpa99mye42levhs/Profile.jpg?dl=1"，width=80,height=80>    
    </div>
  </div>
	<!-- logo -->	
<!-- ---------------------------------------------------- --> 
  <div class="col-sm-8 col-md-8 col-lg-8">
	<!-- Pandas Learning Day 1 -->  
	  <center>
	    <br>
       <h1>Lesson 1</h1>
       <h3>Basics in Python</h3>
       <h4>Lingqiao Qin</h4>
 <strong>Transportation Engineering</strong>
       <br>
<strong>Vehicle Safety </strong>
       <br>
<strong>Data Analysis and Modeling</strong>
       <br>
       <light>For more information about me, please visit:</light>
       <br>
    <a LinkedIn Profile="https://www.linkedin.com/in/lingqiao-qin/" target="_blank"><light>https://www.linkedin.com/in/lingqiao-qin/</light></a>
	</center>	
    <!-- Pandas Learning Notes -->	
  </div>
<!-- ---------------------------------------------------- -->

In [65]:
# Import all libraries needed

# Import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas

import sys #needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [66]:
print('Python version ' + sys.version) # check python version
print('Pandas version ' + pd.__version__) # check pandas version
print('Matplotlib version ' + matplotlib.__version__) # check matplotlib version

Python version 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.20.1
Matplotlib version 2.0.2

# 1. Programming in Python
* Long commands in Python can be split across several lines using the line continuation character “\”
* More than one command can be entered on the same line in a python script using “;” symbol

### 1.1 Breaking long lines in Python

In [16]:
1.234+(3.476-4.2129)*1.8\
     +5.98823-3.923489+3.20834\
    -2.3958+4.24985

7.034711

### 1.2 Multiple command in a line

In [13]:
4**4; 25**.5

5.0

In [14]:
x=4;y=6;z=9;d=x**.5;f=z**1/3

In [15]:
f

3.0

### 1.3 Python is case sensitive

In [9]:
A=1; a=10

In [10]:
A

1

In [11]:
a

10

# 2. Using Dictionaries

### 2.1 Creat a Dictionary

In [67]:
d={"user": "bozo","pswd":1234}
d

{'pswd': 1234, 'user': 'bozo'}

### 2.2 Check data type

In [68]:
type(d)

dict

In [72]:
d["user"]

'bozo'

In [73]:
d["pswd"]

1234

### 2.3 Change the Value

In [75]:
d["pswd"]=5678

d

{'pswd': 5678, 'user': 'bozo'}

### 2.4 Add new Value

In [102]:
d["id"]=11
d

{'age': 28, 'id': 11, 'pswd': 5678, 'sex': 'f', 'user': 'bozo'}

In [103]:
d2={"sex":"f", "age": 28}

d2

{'age': 28, 'sex': 'f'}

In [104]:
dall={}
dall

{}

In [105]:
type(dall)

dict

**Use update() to update the original dictionary**

In [106]:
dall.update(d)
dall

{'age': 28, 'id': 11, 'pswd': 5678, 'sex': 'f', 'user': 'bozo'}

In [107]:
dall.update(d2)
d=dall
d

{'age': 28, 'id': 11, 'pswd': 5678, 'sex': 'f', 'user': 'bozo'}

### 2.5 Remove Values

In [108]:
del d["id"]
d

{'age': 28, 'pswd': 5678, 'sex': 'f', 'user': 'bozo'}

> Remove all from the current dictionary

In [110]:
d.clear()
d

{}

### 2.6 Look up the Dictionary

In [113]:
d={'age': 28, 'pswd': 5678, 'sex': 'f', 'user': 'bozo'}
d.keys() #return all the keys in the current dictionary

dict_keys(['age', 'pswd', 'sex', 'user'])

In [115]:
d.values() # return all the values

dict_values([28, 5678, 'f', 'bozo'])

In [116]:
d. items() # return all the list of item tuples

dict_items([('age', 28), ('pswd', 5678), ('sex', 'f'), ('user', 'bozo')])

# 3. Boolean Values and Comparison Operators

The Boolean True and False constants have numerical values: 0 and 1

In [28]:
int(True)

1

In [29]:
int(False)

0

In [27]:
1 >10

False

In [18]:
2<=2

True

In [23]:
1==1.5

False

> The not equal comparison:
!=

In [24]:
3!=4

True

> Alternatively

In [25]:
not 3==4

True

### 3.1 Logical Operators

In [30]:
(3>2)and (7<10)

True

In [31]:
(3>2) or (7<6)

True

In [32]:
(3!=4)and (7<4)

False

In [35]:
((not 4 > 2) and (5< 10)) or (8 > 5)

True

In [33]:
(3!=4) or (7<4)

True

### 3.2 Strings in Python
* In Python, strings are immutable. So cannot delete element directly from a string, but can create a new string 
* Can be defined by using double/single quotation marks
* Strings can be concatednated using addtion operator (See example)
* Multiplication operator will repeat a string (See example)
* len function returns the total length of a string 
* Multi-line strings using triple quotation marks to capture any line breaks and quotes literally within them.
* in function used to test if a substring is presentin in strings

In [53]:
s1="Today is a beautiful day"

In [54]:
s2='Today is a beautiful day  '

In [55]:
s1==s2

False

In [56]:
len(s1)

24

In [57]:
len(s2)

26

In [59]:
s1*2

'Today is a beautiful dayToday is a beautiful day'

In [60]:
s1+"!"

'Today is a beautiful day!'

In [61]:
len(s1+"!")

25

In [63]:
s3='''This string has two lines.
This is the second line of the string. Ha"ha.'''
s3

'This string has two lines.\nThis is the second line of the string. Ha"ha.'

In [324]:
"This string" in s3

True

In [328]:
s1="Today is a beautiful day"
print(s1[-1:])
print(s1[-3:])

y
day

#### Split a string into lists

In [329]:
s1.split()

['Today', 'is', 'a', 'beautiful', 'day']

### 3.3 Convert other types to string variables

* Convert a integer to a string
* Covert a float to a string
* 
*

In [71]:
type(1)

int

In [74]:
sa=str(1)
sa

'1'

In [75]:
type((-1)**.5)

complex

In [78]:
sb=str((-1)**.5)
sb

'(6.123233995736766e-17+1j)'

In [79]:
type((1+2j))

complex

In [81]:
str(1+2j)

'(1+2j)'

In [83]:
print("%i" %4.2)

4

### 3.4 List in Python

* Two types of lists in python: tuples and lists
* Tuples cannot be modified once created
* List allows additions and deletions of objects, sorting, and other kinds of operations.
* Tuples tend to be slightly faster, but the speed benefit is rarely substantial 
* Rule of thum: always use lists!!!

#### Create lists by brackets

#### Line continuation charachter "\" can be used in a long list

In [108]:
x=[1,2,3,4,5]
print(type(x))
print(x)

<class 'list'>
[1, 2, 3, 4, 5]

In [109]:
y=[1,2,3\
   ,4,5,6\
   ,7,8,9]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### To concatenate two lists

In [110]:
x+y

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### To repeat a list

In [111]:
2*y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Increment Operator in lists

* +=  c+=a  is euquivalent to c=c+a
* -=  c-=a  is equivalent to c=c-a

In [112]:
x += y
x
# y -= x don't support decrement operation on lists

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Range() generate lists

* The **_range()_** function produces lists made of a sequence of numbers.
* Form:** _range(start, stop, step)_**, where the first and the last arguments are optional

* Notes:** _range()_** always starts at zero and is exculsive of the upper bound (doesn't include stop)

In [137]:
z1=range(6)
z1
print(z1)
print(type(z1))

range(0, 6)
<class 'range'>

In [138]:
z2=range(1,3)
z2

range(1, 3)

In [139]:
z3=range(0,8,3)
z3
print(list(z3))

[0, 3, 6]

#### Convert range to list

In [141]:
lz=list(z1)
print(lz)
print(type(lz))

[0, 1, 2, 3, 4, 5]
<class 'list'>

####  Count the length of a list

In [142]:
len(lz)

6

#### Accessing list element

* List elements can be accessed using bracket notation
* First element in a list has index 0
* Last index is one less than the lenght of the list

**All sequence objects(lists, tuples, and arrays) in python have indices that start at 0, which is similar to C/C++**

In [125]:
lz

[0, 1, 2, 3, 4, 5]

In [126]:
lz[2]

2

In [127]:
lz[5]

5

#### An out-of-bounds index will return an error

In [129]:
lz[6]

IndexError: list index out of range

#### Modify individual elements in a list using bracket notation

In [132]:
lz[5]=0

In [133]:
lz

[0, 1, 2, 3, 4, 0]

#### Negative indices can be used to identify elements with respect to the end of a list

In [134]:
lz[-1]

0

#### Extract slicies/subsetioncs of a lists 

* Use notation **list[lower:upper:step]**
* ** lower** gives the inclusive element index, 
* **upper** give exclusive upper index
* and optional **step** gives the increment between the two
* If the **lower** is ommited, it defaults to 0
* If the **upper** is ommited, it defaults to the list length

In [144]:
lz[0:3]

[0, 1, 2]

In [145]:
lz[2:5]

[2, 3, 4]

In [146]:
lz[:4]

[0, 1, 2, 3]

In [147]:
lz[2:]

[2, 3, 4, 5]

#### Negative indices can be used for list slicing too

For example, check out the last 3 elements in list lz:

In [148]:
lz[-3:]

[3, 4, 5]

#### Take all but the last three elements

In [149]:
lz[:-3]

[0, 1, 2]

### 3.5 List comprehensions

In [154]:
x=[k*3 for k in [0,2,4,6,8]]
x

[0, 6, 12, 18, 24]

In [320]:
x=[i**2 for i in range(6)]
x

[0, 1, 4, 9, 16, 25]

In [158]:
x=[q**.5 for q in [4,9,16,25,36,48]]
x

[2.0, 3.0, 4.0, 5.0, 6.0, 6.928203230275509]

#### % operator: Divides left hand operand by right hand operand and returns remainder	
取余数

In [164]:
[p%2==0 for p in range(0,10)]

[True, False, True, False, True, False, True, False, True, False]

In [165]:
[character for character in "Beautiful"]

['B', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']

####  Create all sublists[j,k] for 0<j<k<=3

#### List comprehensions over multiple values

In [321]:
list=[(1,2),(3,4),(5,6),(7,8)]
[i+j for (i, j) in list]

[3, 7, 11, 15]

In [323]:
list=[(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
[sum(i) for i in list]

[6, 12, 18, 24]

In [166]:
[[j,k]for j in range(0,3) for k in range(j+1,4)]

[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3]]

####  Create all sublists using if statement

In [167]:
[[j,k] for j in range(4) for k in range(4) if j<k]

[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3]]

#### Filter a list of elements containing certain letters

* The following example showed that **C** and **c** made a difference

In [171]:
[w for w in ["China","Canada","United Kingdom","Thailand","Chile","Russia","New Zealand"] if "c" in w]

[]

In [170]:
[w for w in ["China","Canada","United Kingdom","Thailand","Chile","Russia","New Zealand"] if "land" in w]

['Thailand', 'New Zealand']

#### Select the first letter for any item in a list containing letter "a"

In [173]:
[w[0] for w in ["China","Canada","United Kingdom","Thailand","Chile","Russia","New Zealand"] if "a" in w]

['C', 'C', 'T', 'R', 'N']

### 3.6 List operations

A List can contain any type of object, even mixed types and other lists

In [174]:
li=[2.,3,"four","1.2",[1,2,3]]
li

[2.0, 3, 'four', '1.2', [1, 2, 3]]

In [178]:
li[2]

'four'

In [179]:
li[2][1]

'o'

In [176]:
li[4]

[1, 2, 3]

#### Multiple assignment

In [319]:
[x,y,z]=[10,20,30]
y

20

#### Check the second element in the sublist within a list

In [177]:
li[4][1]

2

In [182]:
li[3][1]

'.'

In [184]:
# error will occur if there is no such entry in a list e.g. li[1][1] #

#### Check if a value or an object is in a list

In [224]:
10 in range(11)

True

In [225]:
5 in range(5)

False

In [229]:
x=[range(3)]
print(type(x))
print(x)

<class 'list'>
[range(0, 3)]

In [205]:
'i' in ['iove']

False

In [216]:
type(['iove'])

list

In [217]:
'i' in 'iove'

True

In [220]:
i='iove'
ilist=['iove']
type(ilist)

list

In [222]:
del ilist[0]
ilist

[]

In [199]:
i.remove("i")

AttributeError: 'str' object has no attribute 'remove'

In [230]:
list=[i**3 for i in range(4)]
list

[0, 1, 8, 27]

#### Delete an element from a list

In [231]:
del list[0]
list

[1, 8, 27]

#### Delete the last two elements in a list

In [234]:
list=[i**3 for i in range(4)]
del list[2:4]
list

[0, 1]

#### Remove the first instance of a particular element

In [241]:
list=[1,2,3,1,2,3,1,1]
list.remove(2)
list

[1, 3, 1, 2, 3, 1, 1]

#### Remove all occurences of a value in a list

In [238]:
x = [1, 2, 3, 4, 2, 2, 3]
while 2 in x:  x.remove(2)
x

[1, 3, 4, 3]

#### Create an empty list

In [243]:
list=[]
list.append(2)
list

[2]

In [244]:
list.extend([3,4])
list

[2, 3, 4]

In [245]:
list.append([5,6])
list

[2, 3, 4, [5, 6]]

#### Count the occurence of a specific item in a list

In [247]:
x=[1,2,34,5,1,2,3,45,2,34,2,45,2,1,35,25,3]
x.count(2) #doesn't include "25"

5

In [248]:
x.count(1)

3

#### Find the index of the first instance of a list element

In [249]:
x.index(34)

2

#### Show the index of certain items in a list

In [253]:
x = [1, 2, 3, 4, 2, 2, 3]
[index for index, value in enumerate(x) if value == 2]

[1, 4, 5]

#### Add items to lists by slice notitation

* Add 5 between two fours
* _watch out the following example_

In [266]:
x = [1, 2, 3, 4, 4, 3, 2,1]

In [267]:
x=x[0:5]+[5]+x[4:]
x

[1, 2, 3, 4, 4, 5, 4, 3, 2, 1]

#### Insert items to lists at a particular locations

In [242]:
list=[1,2,3,4,5]
list.insert(2,0)
list

[1, 2, 0, 3, 4, 5]

#### Sum of a list

In [292]:
sum([1,2,3,4,5])

15

In [293]:
(sum([1,2,3,4,5]))**2

225

#### Sort a list

In [294]:
list=[1,2,3,4,5]
list.sort(reverse=True)
list

[5, 4, 3, 2, 1]

In [295]:
list=[1,24,56,2]
sorted(list, reverse=False) # doesn't change the content in list
list=sorted(list, reverse=False) # update the order of items in list
list

[1, 2, 24, 56]

#### Sort a list within witch there are sublists in it

If list members are lists themselves, sorting operates using the first element of each sublist, and subsequent element as needed:

In [299]:
c=["China","Canada","United Kingdom","Thailand"\
   ,"Chile","Russia","New Zealand"]
sorted(c)

['Canada',
 'Chile',
 'China',
 'New Zealand',
 'Russia',
 'Thailand',
 'United Kingdom']

In [298]:
country=[[1000,"China"],[679,"Canada"],[3,"United Kingdom"],[10,"Thailand"]\
         ,[28,"Chile"],[55,"Russia"],[42,"New Zealand"]]
sorted(country,reverse=True)

[[1000, 'China'],
 [679, 'Canada'],
 [55, 'Russia'],
 [42, 'New Zealand'],
 [28, 'Chile'],
 [10, 'Thailand'],
 [3, 'United Kingdom']]

## 3.7 Tuples
* Tuples are similar to lists but are immutable.
* Tuples are created using parethesis
* Tuples can contain any objects, including tuples and lists
* By default, a comma separated list without any enclosing characters is treated as a tuple

In [303]:
1,2,4,5,"Car",[1,34,2]

(1, 2, 4, 5, 'Car', [1, 34, 2])

In [300]:
t = (1, 2, 3)
t[2]

3

In [317]:
s = "There are 10 houses."
s[2]
print(len(s))

20

#### Tuples are not immutable

In [315]:
s[18]='Yeah!'

TypeError: 'str' object does not support item assignment

In [318]:
s=s[:10]+'2'+s[11:]
s

'There are 20 houses.'

<p class="text-muted">The notes was based on tutorial from <a href="https://engineering.ucsb.edu/~shell/che210d/python.pdf" target="_blank"><strong>Scott Shell @ UCSB</strong></a></p>